<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DBServer" value="localhost"/>
		<add key="DBUser" value="root"/>
		<add key="DBPassword" value="Hota168"/>
		<add key="Database" value="hoto"/>
	</appSettings>
</configuration>